<h1>Show Answer</h1>

<ul>

  <li>
    <strong>Score:</strong>
    <%= @answer.score %>
  </li>

  <li>
    <strong>Content:</strong>
    <%= @answer.content %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.answer_path(@conn, :edit, @answer) %></span>
<span><%= link "Back", to: Routes.answer_path(@conn, :index) %></span>
